---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<p class="mid-align">
			Hello there.
            <br>
            To those who know me, Hi, I will be opting for my online presence.
			<br>
			Im Contonium.
			<br>
			I am currently working towards becoming a full stack developer.
			<br>
			This website is a part of that, and over time I will likely fill this up with information surrounding my,
			<br>
			Many, different Projects.
			<br>
			<br>
			If you didnt know, I enjoy reading books (My favourite Arthor is Raymond E Fiest)
			<br>
			, I enjoy collecting, Mainly coins, but also the odd bit here and there.
			<br>
			I also really enjoy travelling.
			<br>
			Me and a friend have been getting into a little bit of 
			<br>
			Hobby rockets
			<br>
			Oh and I have ADD (ADHD but not hyperactive.)
			<br>
			However you know me, You likely know that Im always willing to help.
			<br>
			Just give me a yell and I'll get around
			<br>
			Most likely.
			<br>
			<br>
			Anywho, Im a bit of a historian.
			<br>
			And I believe that society is a very, very fluctational thing.
			<br>
			like someone took water, put it into a beaker, and put it into a microwave that runs inside a freezer.
			<br>
			Always on the move.
			<br>
			<br>
			If you ever need me just. Ask. Ill be around somewhere.
		</p>
	</main>
</Layout>