---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<p>
			Hello there.
			<br>
			Welcome to my site.
			<br>
			Its pretty simple at the moment.
			<br>
			I mean it has a working clock.
			<br>
			but thats not too hard to do.
		</p>
	</main>
</Layout>