---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<p>
			Hi there. This site is my redesign of the old site.
			<br>
			This one looks much better in some senses. It should also run smoother.
		</p>
	</main>
</Layout>