---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Travels">
	<main>
		<p>
			This page is for me to discuss my travels.
		</p>
		<a href="/Portfolio/Travel" class="nav-link">Travel Questionairre</a>
	</main>
</Layout>