---
interface Props {
	title: string;
}
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Contonium App" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://css.gg/css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
		<ViewTransitions />
		<title>{title}</title>
		<script src="../java/time.js"></script>
		<script>console.log("hello World")</script>
		<script defer data-domain="conotoium.github.io/portfolio" src="https://plausible.io/js/script.js"></script>
	</head>
	<body>
		<nav class="navbar">
			<ul class="nav-menu">
				<li class="nav-item">
					<a href="/Portfolio" class="nav-link"><span class="material-symbols-outlined">home</span></a>
				</li>
				<li class="nav-item">
					<a href="/Portfolio" class="nav-link">About Me</a>
				</li>
				<li class="nav-item">
					<a href="/Portfolio/ContoSearch" class="nav-link">ContoSearch</a>
				</li>
				<li class="nav-item-r">
					<a href="/Portfolio" class="nav-link">Contact</a>
				</li>
				<li class="nav-item-r">
					<a href="#" class="nav-link"><p class="date-r" id="dateString"></p></a>
				</li>
			</ul>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
@tailwind base;
@tailwind components;
@tailwind utilities;
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	
	title {
    	display: inline;
		padding: 1rem;
		gap:2rem;
    	color: rgb(47, 142, 107);
  	}
  	body {background-color: rgb(40, 50, 93);}
  	h1 {
    	color: rgb(168, 191, 193);
  	}

	p {
		color: rgb(168, 191, 193);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	
    .css-1 {
        background-color: rgb(0, 24, 119);
        nav-down: auto;
    }
    
	li {
  		display: inline-grid;
	}

	a {
		color: darkgoldenrod;
		gap: .5rem;
		font-variation-settings:
		'wght' 400,
		'opsz' 48;
	}
	
	.date {
		color:cornflowerblue;
		display: flex;
	}

	.navbar {
    background-color: #333;
    overflow: hidden;
	}

	.nav-menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.nav-item {
		float: left;
		padding: .25rem;
	}

	.nav-item-r {
		float: right;
		padding: .25rem;
	}

	.date-r {
		color:cornflowerblue;
		}

	.nav-link {
		display: block;
		color: darkgoldenrod;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.nav-link:hover {
		background-color: #575757;
	}

	.dropdown {
		position: relative;
	}

	.dropdown-menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: cadetblue;
		list-style: none;
		margin: 0;
		padding: 0;
		min-width: 160px;
		z-index: 1;
	}

	.dropdown-menu li {
		float: none;
	}

	.dropdown-menu a {
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-menu a:hover {
		background-color: #575757;
	}

	#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
	}

	button {
		background-color: #1db954;
		color: white;
		border: none;
		padding: 10px;
		margin: 5px;
		border-radius: 5px;
		cursor: pointer;
	}

	button:hover {
		background-color: #1ed760;
	}

	#track-info {
		margin-top: 10px;
		text-align: center;
	}
</style>
